@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Base Styles */

:root {
  --color-primary: #00754a;
  --color-secondary: #1d3c34;
  --color-extra: #cfe6b5;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Open Sans', serif;
  line-height: 1.2;
  color: var(--color-black);
}

a {
  color: var(--color-black);
}

ul {
  list-style: none;
  align-items: center;
}

p {
  margin: 5px 0;
  line-height: 1.5;
}

/* Buttons */
.btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: 1px var(--color-black) solid;
  border-radius: 50px;
  padding: 7px 16px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
}

.btn--dark {
  background-color: var(--color-black);
  color: var(--color-white);
}

.btn--dark:hover {
  background-color: var(--color-gray);
}

.btn--darkOutline {
  border-color: var(--color-black);
  color: var(--color-black);
}

.btn--darkOutline:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.btn--secondaryOutline {
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

.btn--secondaryOutline:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

/* Nav */
.nav {
  width: 100%;
  height: 100px; /* adjusted this and navcontainer height */
  background-color: var(--color-white);
  padding: 20px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.07) 0px 0px 2px 0px;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav__ham-menu-btn {
  display: none;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.nav__ham-menu-btn-icon {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  display: block;
}

.nav__ham-menu-btn-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: var(--color-gray);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.nav__ham-menu-btn-icon span:nth-child(1) {
  top: 0;
}
.nav__ham-menu-btn-icon span:nth-child(2) {
  top: 18px;
}
.nav__ham-menu-btn-icon span:nth-child(3) {
  top: 36px;
}

.nav__ham-menu-btn-icon span:nth-child(1) {
  top: 0px;
}

.nav__ham-menu-btn-icon span:nth-child(2),
.nav__ham-menu-btn-icon span:nth-child(3) {
  top: 18px;
}

.nav__ham-menu-btn-icon span:nth-child(4) {
  top: 36px;
}

.nav__ham-menu-btn-icon_open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav__ham-menu-btn-icon_open span:nth-child(2) {
  transform: rotate(45deg);
}

.nav__ham-menu-btn-icon_open span:nth-child(3) {
  transform: rotate(-45deg);
}

.nav__ham-menu-btn-icon_open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav__menu {
  display: flex;
  flex-direction: row;
}

.nav ul {
  display: flex;
}

.nav li {
  margin: 0 15px;
}

.nav__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.nav__link:hover {
  color: var(--color-primary);
}

.nav__link:hover svg {
  fill: var(--color-primary);
}

.nav__primary {
  text-transform: uppercase;
  flex: 1;
}

.nav__brand {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.nav__link--withIcon {
  display: flex;
  align-items: center;
}

.nav__link--withIcon svg {
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.nav__link--withIcon:hover svg {
  fill: var(--color-primary);
}

.nav__secondary li:nth-child(2) {
  margin: 0 5px;
}

.nav__secondary li:last-child {
  margin-right: 0;
}

/* Sections */

.section {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 32px auto;
  color: var(--color-secondary);
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.section--backwards {
  flex-direction: row-reverse;
}

.section__img {
  width: 50%;
  object-fit: contain;
  background-color: var(--color-extra);
}

.section__description {
  width: 50%;
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-extra);
}

.section__descriptionContent {
  max-width: 83%;
}

.section__header {
  font-size: 50px;
}

.section__header--secondary {
  font-size: 24px;
}

.section__text {
  margin-top: 24px;
  font-size: 24px;
}

.section__text--secondary {
  font-size: 19px;
}

.section .btn {
  margin-top: 32px;
  font-size: 16px;
}

.section__disclaimer {
  margin: 64px 48px 0;
  font-size: 14px;
  max-width: 646px;
  width: 50%;
  line-height: 1.8;
}

.footer {
  padding: 24px 40px 0;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px -1px 3px,
    rgba(0, 0, 0, 0.06) 0px -2px 2px,
    rgba(0, 0, 0, 0.07) 0px 0px 2px;
}

.footer__break {
  margin: 32px 0;
  color: rgba(0, 0, 0, 0.1);
  height: 2px;
}

.footer-links {
  display: flex;
}

.footer-links__section {
  margin-right: 32px;
  width: 190px;
}

.footer__heading {
  font-size: 19px;
  line-height: 28.5px;
  font-weight: 400;
  margin-bottom: 24px;
}

.footer-links__list li {
  padding: 8px 0;
  margin-bottom: 8px;
}

.footer-links__link {
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.58);
}

.footer-links__link:hover {
  color: rgba(0, 0, 0, 0.87);
}

.footer-social {
  display: flex;
  flex-direction: row;
}

.footer-social__item {
  margin-right: 5px;
  position: relative;
}

.footer-social__link:before {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.06);
  top: 20px;
  left: 20px;
  content: '';
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 4px;
  height: 4px;
  transition: transform 0.25s linear;
}

.footer-social__link:hover:before {
  opacity: 1;
  transform: scale(12);
}

.footer-social__item img {
  height: 32px;
  width: 32px;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-legal {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 16px;
}

.footer-legal__item {
  padding: 8px 0;
  margin-bottom: 4px;
}

.footer-legal__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
}

.footer-legal__link:hover {
  text-decoration: underline;
}

.footer-legal__copyright {
  color: rgba(0, 0, 0, 0.58);
  font-size: 14px;
  padding: 20px 0 36px;
}

@media (max-width: 1024px) {
  .section__header {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .nav__container {
    position: relative;
    transform-style: preserve-3d;
  }

  .nav__menu {
    position: absolute;
    background-color: var(--color-white);
    top: calc(100% + 40px);
    right: -20px;
    bottom: 0;
    z-index: 99;
    transition: transform 0.3s;
    flex-direction: column;
    height: calc(100vh - (100% + 40px));
    width: 80vw;
    transform: translateZ(-10px) translateX(80vw);
    display: none;
  }

  .nav__menu_open {
    transform: translateZ(-10px);
    display: flex;
  }

  .nav__ham-menu-btn {
    display: block;
  }

  .section__img,
  .section__description {
    width: 100%;
  }

  .section .btn {
    font-size: 14px;
  }

  .section__description {
    padding-right: 16px;
    padding-left: 16px;
  }

  .section__descriptionContent {
    max-width: initial;
  }

  .section__header {
    font-size: 28px;
  }

  .section__header--secondary {
    font-size: 22px;
  }

  .section__text {
    font-size: 22px;
  }

  .section__text--secondary {
    font-size: 16px;
  }

  .section__disclaimer {
    width: initial;
    margin-right: 16px;
    margin-left: 16px;
    font-size: 13px;
  }

  .footer-links__link {
    line-height: 21px;
    font-size: 14px;
  }
}
